*{
    margin:0;
    padding:0;
    text-decoration:none;
    list-style-type:none;
    font-family:sans-serif;
    color:dimgrey;
}
body{
    overflow-x: hidden;
}
header{
    width:94%;
    height:100px;
    padding:5px 3%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color:#eeeeee;
    position:fixed;
    box-shadow:0 0 20px grey;
    z-index:9;
}
.logo{
    width:150px;
    height:50px;
    background-image:url(../img/logo.png);
    background-size: contain;
}
.search-form{
    display:flex;
    flex-direction:row;
    justify-content: center;
    z-index:5;
    top:110px;
    right:-275px;
    position: absolute;
    transition-duration:400ms;
}
.search-form input{
    width:200px;
    height:27px;
    padding:2px;
}
.search-form button{
    width:66px;
}
.absolut{
    position:absolute;
    top:100px;
}
.mini-prof-pic{
    width:35px;
    height:35px;
    border-radius:50%;
}
.header-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-nav>*{
    margin:0 5px;
}
.horizontal{
    width:100%;
    height:1px;
    background-color:darkgray;
}
.tabs{
    width:100%;
    height:40px;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.tab-btn{
    margin:0 20px;
    border-bottom:2px solid #eeeeee;
}
.tab-btn:hover{
    border-bottom:2px solid darkred;
}
.language{
    width:30px;
    height:20px;
    background-color: inherit;
    border:1px solid black;
}
main{
    width:100%;
    height: auto;
    top:100px;
    position:absolute
}
.main-events{
    width:100%;
    display: flex;
    justify-content:center;
}
.main-events-btn{
    width:80%;
    height:60px;
    padding:5px;
    border-radius:8px;
    border:0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color:white;
    margin-top:20px;
}
.main-events-btn a{
    font-size:26px;
    color:black;
}
.events{
    width:94%;
    height: auto;
    padding:20px 3%;
    background-color:gainsboro;
}
.type-of-events{
    width:94%;
    padding:0 3%;
    height: auto;
    display:none;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
#one:checked+.type-of-events,#two:checked+.type-of-events,#three:checked+.type-of-events{
    display: flex;
}
#one,#two,#three{
    display:none;
}
.event-item{
    width:100%;
    margin:20px 1%;
}
.event-item img{
    width:100%;
    height:150px;
}
.event-headers{
    width:100%;
    text-align: left;
    margin-top:15px;
}
h2{
    font-size:16px;
}
#blackmountain{
    background-image: url(../img/blackmountain.jpg);
}
#burningSeptember{
    background-image: url(../img/september.jpg);
}
#prague{
    background-image: url(../img/prague.jpg);
}
.preview{
    width:100%;
    height:250px;
    background-size:cover;
}
#seek{
    display:none;
}
#seek:checked+.search-form{
    transform:translateX(-275px); 
}
.search-btn{
    width:40px;
    height:40px;
    background-image: url(../img/seek.png);
    background-size:contain;
}
.footer{
    background-color: grey;
    color: white;
    text-align: center;
    padding:15px 0;
}
.registration-main{
    width:100%;
    height:550px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.registration{
    width:400px;
    height:450px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color:#eeeeee;
    padding:10px;
    border-radius:10px;
}
.registration-input{
    width:250px;
    height:30px;
    padding:5px;
    border-radius:5px;
    margin-bottom:15px;
    border:1px solid black;
}
#registration-btn{
    width:250px;
    height:51px;
    border:0;
    margin-bottom:15px;
    border-radius:5px;
    font-size:20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#facebook{
    width:250px;
    height:51px;
    border:0;
    background-image: url(../img/fb.jpg);
    background-size: cover;
    margin-bottom:15px;
}
#google{
    width:250px;
    height:53px;
    border:0;
    background-image: url(../img/g+.jpg);
    background-size: cover;
}
.user-card{
    width:70%;
    height:250px;
    padding:30px 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.user-pic{
    width:150px;
    height:150px;
    border-radius:50%;
    margin-right:20px;
}
.user-info{
    width:700px;
    height:200px;
    margin:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user-tabs{
    width:100%;
    height:600px;
    display: flex;
    flex-direction:column;
    justify-content: center;
}
.information{
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.information>*{
    margin-right:70px;
}
.rating{
    width: 25px;
    height: 24px;
}
input[name="user-tabs"]{
    display: none;
}
#suggestions:checked+.user-stuff,#calendar:checked+.user-stuff,#by-me:checked+.user-stuff,#liked:checked+.user-stuff{
    display:flex;
}
.user-stuff{
    width:92%;
    height:500px;
    padding:0 4%;
    display:none;
    background-color:gainsboro;
    flex-direction: column;
}
.user-stuff img{
    width:100%;
    height:300px;
}
.user-name{
    font-size:24px;
    margin:10px 0;
}
.day{
    width:100%;
    height:100px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-color:#4db6ac;
    padding:10px 0;
}
.day:nth-child(2n){
    background-color:#ff8a65; 
}
.date{
    width:20%;
    height:30px;
    font-size:25px;
    text-align:center;
}
.event{
    width:60%;
    height:30px;
}
.participate{
    width:10%;
    height:30px;
}
.eventArticle{
    padding: 80px 40px 20px 40px;
    text-align: justify;
}
.comment{
    width:70%;
    margin:15px 15%;
}
.eventImg{
    background: url(../resources/img/img-event-foolback.jpg) no-repeat scroll 0 0 transparent;
}
.layout { 
    position: relative;
    margin: 20px;
}
.layout DIV { position: absolute; }
.col1 { 
    background: grey; left: 0; right: 50%; margin-right: 100px;
    text-align: center
}
.col2 { 
    background: grey; width: 200px; left: 50%; margin-left: -100px; 
    text-align: center;

}
.col3 { 
    background: grey; left: 50%; right: 0; margin-left: 100px; 
    text-align: center;
}
.addComment{
    padding: 10px;
    text-align: left;
}
.blog-article{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}
.img-event{
    width:70%;
    margin:15px 15%;
}
.titleArticle{
    margin: 40px;
    text-align: center;
}
.textArticle{
    width:70%;
    margin:15px 15%;
    text-align: justify;
}
.shareArticle{
    width: 70%;
    margin:15px 15%;
    text-align: right;
}
.createRoute{
    width:270px;
    height:350px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color:#eeeeee;
    padding:20px;
}
.create-route-btn{
    width:262px;
    height:35px;
    background: inherit;
    border:0;
    box-shadow:  0 0 10px rgba(0,0,0,0.5);
    border-radius:5px;
}
.create-route-btn:nth-child(1){
    width:187px;
    margin-bottom:10px;
}
.event-buttons{
    width:70%;
    height:300px;
    padding:15px 15%;
    background-image: url(../img/main-search-bg.jpg);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.event-btn{
    width:50px;
    height:50px;
    border:0;
    margin-left:10px;
}
.event-btn img{
    width:inherit;
    height:inherit;
    background-size: cover;
}
.event-info{
    width:70%;
    padding:30px 15%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.event-autor{
    width:20%;
    height:40px;
}
.event-date{
    width:60%;
    height:40px;
}
.event-discription{
    width:100%;
    height:100px;
}
.events-main{
    width:100%;
    height:600px;
}
footer{
    width:100%;
    height:20px;
    padding:30px 0;
    background-color:dimgrey;
    color: gainsboro;
    position: absolute;
    text-align:center;
    left: 0;
    right: 0;
    bottom: 0;
}
@media(min-width:768px){
    header{
        width:80%;
        padding:5px 10%;
    }
    .header-nav>*{
        margin:0 15px;
    }
    .search-form{
        top:0;
        right:0;
        position: relative;
    }
    .events{
        width:80%;
        padding:30px 10%;
        flex-direction:row;
    }
    .event-item{
        width:48%;
    }
    .search-form input{
        width:250px;
    }
    .search-btn{
        display:none;
    }
    .user-stuff{
        width:80%;
        padding:0 10%;
    }
}
@media(min-width:992px){
    .search{
        width:70%;
        padding:15px 15%;
        flex-direction: row;
    }
    .main-search{
        width:33%;
        height:30px;
        display: flex;
        flex-direction: row;
        margin-bottom:7px;
    }
    .search-btn{
        width:16%;
    }
    .events{
        width:70%;
        padding:50px 15%;
    }
    .event-item{
        width:23%;
    }
    .search-form input{
        width:400px;
    }
    .user-stuff{
        width:70%;
        height:auto;
        padding:0 15%;
    }
}
@media(min-width:1168px){
    .search-form input{
        width:500px;
    }
}
